.spinner {
  margin: 150px auto;
  color: #39da31;
  width: 50px;
  height: 50px;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
