.header {
  height: 6vh;
  background-color: #39da31;
  color: black;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  flex: 0 0 25%;
  padding: 0 15px;
  font-size: large;
}
.header_switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  flex: 0 0 auto;
  padding: 0 15px;
}
.header_switch_input {
  appearance: none;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  margin-right: 30px;
  border: 2px solid white;
  border-radius: 15px;
}

.header_switch_input:checked {
  background: black;
  border: 2px solid white;
}
.header_switch_input:hover {
  border: 1px solid white;
  box-shadow: 0px 4px 24px -8px rgba(0, 0, 0, 1);
  cursor: pointer;
}
